.codex
supabase/.temp/*

# Terraform local state
*.tfstate
*.tfstate.*
**/.terraform/

# Local sercets / env-specific vars
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# pnpm
node_modules/*

# TypeScript build related files
**/dist/
**/*.tsbuildinfo
pnpm-debug.log
